[submodule "deps/concordium-rust-sdk"]
	path = deps/concordium-rust-sdk
	url = ../concordium-rust-sdk.git
[submodule "deps/concordium-dapp-libraries"]
	path = deps/concordium-dapp-libraries
	url = ../concordium-dapp-libraries.git
