::placeholder {
    color: white;
    opacity: 0.5;
}

.centerLargeText {
    font-size: 26px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}

.largeText {
    font-family: "Verdana" !important;
    text-align: left  !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 21px !important;
    letter-spacing: 0 !important;
    word-wrap: break-word !important;
}

.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #308274;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.containerSpaceBetween {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: top;
}

.columnBox {
    background-color: #979797;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.testBox {
    background-color: olivedrab;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.testBoxHeader {
    background-color: #308274;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.actionResultBox {
    background-color: greenyellow;
    border-radius: 10px;
    word-wrap: break-word;
    border: 1px;
}

.errorBox {
    background-color: orange;
    color: red;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    border: 1px;
}

.inputFormatBox {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    border: 1px;
    text-align: left;
}

.buttonStyle {
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    margin: 7px 0px 7px 0px;
    padding: 10px;
    width: 500px;
    border: 1px solid #26685D;
    background-color: #308274;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}

.inputFieldStyle {
    box-sizing: border-box;
    background-color: #979797;
    color: white;
    border-radius: 10px;
    width: 500px;
    border: 1px solid #308274;
    margin: 7px 0px 7px 0px;
    padding: 10px 20px;
}