@import '@fontsource/ibm-plex-sans';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

// Bootstrap overrides
$font-family-base: 'IBM Plex Sans', sans-serif;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;
