@import 'config';
@import 'bootstrap-config';
@import 'layout';

body {
    height: 100%;
    display: flex;
}

#root {
    margin: auto;
}

textarea {
    resize: none;
}

.spinner {
    display: block;
    line-height: 1em;
    font-size: 1.5rem;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
