::placeholder {
    color: white;
    opacity: 0.5;
}

.centerLargeText {
    font-size: 26px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}

.largeText {
    font-family: "Verdana" !important;
    text-align: left;
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 21px !important;
    letter-spacing: 0 !important;
}

.dashedLine {
    border: dashed 1px;
}

.link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #308274;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.containerSpaceBetween {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.containerSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyle {
    width: 100%;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    margin: 7px 0px 7px 0px;
    padding: 10px;
    width: 100%;
    border: 1px solid #26685D;
    background-color: #308274;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}

.buttonStyleDisabled {
    width: 100%;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    margin: 7px 0px 7px 0px;
    padding: 10px;
    width: 100%;
    border: 1px solid #4B4A4A;
    background-color: #979797;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}

.inputFieldStyle {
    width: 100%;
    box-sizing: border-box;
    background-color: #979797;
    color: white;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #308274;
    margin: 7px 0px 7px 0px;
    padding: 10px 20px;
}
